<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Messages</title>
  </head>
  <body>
    <h1 class="title">
      <%= title %>
    </h1>
    <div class="messages">
      <% messages.forEach((msg) => { %>
        <div class="card message">
          <p><%= msg.text %></p>
          <p><%= msg.username %></p>
          <p><%= msg.add_timestamp.toLocaleString() %></p>

          <a href="/message/<%= msg.id %>">Open</a>
        </div>
      <% }); %>
    </div>
    <a href="/new">Send a message</a>
  </body>
</html>
